<div class="header">
    <a href="{{ .Site.BaseURL }}" class="logo">
        <pre>
 ██▒   █▓ ▒█████   ██▓    ▓██   ██▓▄▄▄█████▓ ██░ ██ 
▓██░   █▒▒██▒  ██▒▓██▒     ▒██  ██▒▓  ██▒ ▓▒▓██░ ██▒
 ▓██  █▒░▒██░  ██▒▒██░      ▒██ ██░▒ ▓██░ ▒░▒██▀▀██░
  ▒██ █░░▒██   ██░▒██░      ░ ▐██▓░░ ▓██▓ ░ ░▓█ ░██ 
   ▒▀█░  ░ ████▓▒░░██████▒  ░ ██▒▓░  ▒██▒ ░ ░▓█▒░██▓
   ░ ▐░  ░ ▒░▒░▒░ ░ ▒░▓  ░   ██▒▒▒   ▒ ░░    ▒ ░░▒░▒
   ░ ░░    ░ ▒ ▒░ ░ ░ ▒  ░ ▓██ ░▒░     ░     ▒ ░▒░ ░
     ░░  ░ ░ ░ ▒    ░ ░    ▒ ▒ ░░    ░       ░  ░░ ░
      ░      ░ ░      ░  ░ ░ ░               ░  ░  ░
     ░                     ░ ░                      
        </pre>
    </a>
</div>