<div class="logo-container">
    <a href="{{ .Site.BaseURL }}" class="logo-link">
        <pre class="ascii-logo">
   ██▒   █▓ ▒█████   ██▓    ▓██   ██▓▄▄▄█████▓ ██░ ██ 
  ▓██░   █▒▒██▒  ██▒▓██▒     ▒██  ██▒▓  ██▒ ▓▒▓██░ ██▒
   ▓██  █▒░▒██░  ██▒▒██░      ▒██ ██░▒ ▓██░ ▒░▒██▀▀██░
    ▒██ █░░▒██   ██░▒██░      ░ ▐██▓░░ ▓██▓ ░ ░▓█ ░██ 
     ▒▀█░  ░ ████▓▒░░██████▒  ░ ██▒▓░  ▒██▒ ░ ░▓█▒░██▓
     ░ ▐░  ░ ▒░▒░▒░ ░ ▒░▓  ░   ██▒▒▒   ▒ ░░    ▒ ░░▒░▒
     ░ ░░    ░ ▒ ▒░ ░ ░ ▒  ░ ▓██ ░▒░     ░     ▒ ░▒░ ░
       ░░  ░ ░ ░ ▒    ░ ░    ▒ ▒ ░░    ░       ░  ░░ ░
        ░      ░ ░      ░  ░ ░ ░               ░  ░  ░
       ░                     ░ ░                      
        </pre>
    </a>
</div>